
@model FoodSupplementShop.Views.Home.ProductsViewModel
Филтритай по марка:
<select name="bikes">
    <option value="All">Всички</option>
    @foreach (var brand in Model.getUniqueBrands())
    {
        <option value="@brand.Name">@brand.Name</option>
    }
</select>

<hr />

<div class="Main">
    @foreach (var product in Model.getProducts())
    {
        <div class="Main__card">
            <div class="Main__card-picture">
                <img src="/images/@product.PhotoUrl" class="Main__card-picture-img" />
            </div>
            <div class="Main__card-title">@product.Name</div>
            <div class="Main__card-info">
                <div>Марка: @product.Brand.Name</div>
                <div>Описание: @product.Description</div>
                <div>Цена: @product.Price $</div>
            </div>
            @if (product.Quantity > 5)
            {
            <button class="Main__card-add">Добави в количка</button>
            } else
                {
            <button class="Main__card-add" disabled>Не е налично</button>

                }

        </div>
    }
</div>
