@model CarrierShop.Models.Service

@{
    ViewData["Title"] = "Details";
}

<h1>Детайли</h1>

<div>
    <h4>Услуги</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PricePerKg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PricePerKg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PricePerKm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PricePerKm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxKg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxKg)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Промени</a> |
    <a asp-action="Index">Обратно</a>
</div>
