
@model BikeShop.Views.Home.TopOffers

Филтритай по марка:
<select name="bikes">
    <option value="All">Всички</option>
    @foreach (var brand in Model.getUniqueBrands())
    {
        <option value="@brand.Name">@brand.Name</option>
    }
</select>
<hr />
<div class="TopOffers">
    @foreach (var product in Model.getProducts())
    {
        <div class="TopOffers__card">
            <div class="TopOffers__card-picture">
                <img src="/images/@product.PhotoUrl" class="TopOffers__card-picture-img" />
            </div>
            <div class="TopOffers__card-title">@product.Brand.Name</div>
            <div class="TopOffers__card-info">
                <div>Размер: @product.Size ''</div>
                <div>Цена: @product.Price $</div>  
            </div>
            <button class="TopOffers__card-add">Добави в количка</button>

        </div>
    }
</div>
